h2 {
    text-align: center; /* Centrar el texto horizontalmente */
    color: #007bff; /* Color del título, en este caso, azul */
    font-size: 32px; /* Tamaño de la fuente, en este caso, 32px */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    /* Agregar otros estilos según tus preferencias */
  }