<!-- <a routerLink="/currencies" routerLinkActive="active" ariaCurrentWhenActive="page">List of Currencies</a><br>
<a routerLink="/market" routerLinkActive="active" ariaCurrentWhenActive="page">Market Overwiev</a> -->
<mat-toolbar color="primary">
   <p>Financial App</p>
</mat-toolbar>
<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Currencies">  <app-currency-list></app-currency-list></mat-tab>
    <mat-tab label="Market Data"><app-market-overview></app-market-overview></mat-tab>
  </mat-tab-group>



